.btn {
  &__connect {
    background: linear-gradient(253.94deg, #09F2C3 8.37%, #15DCE4 69.71%);
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border: none;
    color: white;
    margin: 7px 0 0 0;
    cursor: pointer;
  }
}
